<div class="to-do">

  <div class="to-do__top">

    <h2 class="to-do__title">All ToDo’s</h2>
    <button class="to-do__add-btn">
      <p>Add a ToDo</p>
      <img src="../../../assets/add 1.svg" alt="add" />
    </button>

  </div>


  <div class="to-do__list">
    <div class="to-do__item">
      <div class="to-do__content">
        <input type="checkbox" id="text" class="to-do__check">
        <label for="text">Make edits to current development plan based on feedback from the last stakeholders meeting,
          send
          to John afterwards the edits were made. Notify everybody in Slack</label>
      </div>
      <div class="to-do__edit-btn">
        <img src="../../../assets/disabled.svg" alt="edit">
      </div>
      <div class="to-do__delete-btn">
        <img src="../../../assets/DeleteOutlined.svg" alt="delete">
      </div>
    </div>

    <div class="to-do__item">
      <div class="to-do__content">
        <input type="checkbox" id="text" class="to-do__check">
        <label for="text">Make edits to current development plan based on feedback from the last stakeholders meeting,
          send
          to John afterwards the edits were made. Notify everybody in Slack</label>
      </div>
      <div class="to-do__edit-btn">
        <img src="../../../assets/disabled.svg" alt="edit">
      </div>
      <div class="to-do__delete-btn">
        <img src="../../../assets/DeleteOutlined.svg" alt="delete">
      </div>
    </div>

    <div class="to-do__item">
      <div class="to-do__content">
        <input type="checkbox" id="text" class="to-do__check">
        <label for="text">Make edits to current development plan based on feedback from the last stakeholders meeting,
          send
          to John afterwards the edits were made. Notify everybody in Slack</label>
      </div>
      <div class="to-do__edit-btn">
        <img src="../../../assets/disabled.svg" alt="edit">
      </div>
      <div class="to-do__delete-btn">
        <img src="../../../assets/DeleteOutlined.svg" alt="delete">
      </div>
    </div>
  </div>

</div>