<div class="auth">

  <div class="auth__inner">

    <h2 class="auth__title">Create Account</h2>
    <p class="auth__txt">Let’s get productive together!</p>

    <form class="auth__form" [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">

      <div class="auth__from-group">

        <div class="auth__form-item">
          <label class="auth__form-label" for="name">Full Name * </label>
          <input class="{{name.invalid && (name.dirty || name.touched)?'alert-input':'auth__form-input'}}" id="name"
            type="text" formControlName="name" minlength="4" required>

          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

            <div *ngIf="name.errors?.['required']">
              Full Name is required
            </div>
            <div *ngIf="name.errors?.['minlength']">
              Full Name must be at least 4 characters long
            </div>
          </div>
        </div>

        <div class="auth__form-item">
          <label class="auth__form-label" for="username">username * </label>
          <input class="{{username.invalid && (username.dirty || username.touched)?'alert-input':'auth__form-input'}}"
            id="username" type="text" formControlName="username" minlength="4" required>

          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
            <div *ngIf="username.errors?.['required']">
              username is required
            </div>
            <div *ngIf="username.errors?.['minlength']">
              Full Name must be at least 4 characters long
            </div>
          </div>
        </div>
      </div>

      <div class="auth__from-group">
        <div class="auth__form-item">
          <label class="auth__form-label" for="email">Email * </label>
          <input class="{{email.invalid && (email.dirty || email.touched)?'alert-input':'auth__form-input'}}" id="email"
            type="email" formControlName="email" required>

          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
            <div *ngIf="email.errors?.['email']">
              Please enter a valid email address
            </div>
            <div *ngIf="email.errors?.['required']">
              Email is required
            </div>
          </div>

        </div>

        <div class="auth__form-item">
          <label class="auth__form-label" for="phone">Phone number * </label>
          <input class="{{phone.invalid && (phone.dirty || phone.touched)?'alert-input':'auth__form-input'}}" id="phone"
            type="phone" formControlName="phone" required>

          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
            <div *ngIf="phone.errors?.['required']">
              Phone number is required
            </div>

            <div *ngIf="phone.errors?.['pattern']">
              Please enter a valid phone number
            </div>
          </div>
        </div>

      </div>

      <div formGroupName="address">

        <div class="auth__from-group">
          <div class="auth__form-item">
            <label class="auth__form-label" for="street">Address line *</label>
            <input class="{{street.invalid && (street.dirty || street.touched)?'alert-input':'auth__form-input'}}"
              id="street" type="text" formControlName="street" minlength="4" required>

            <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert">
              <div *ngIf="street.errors?.['required']">
                Address line is required
              </div>

              <div *ngIf="street.errors?.['minlength']">
                Address line must be at least 4 characters long
              </div>
            </div>

          </div>

          <div class="auth__form-item auth__user-suite">
            <label class="auth__form-label" for="suite">Suite</label>
            <input class="auth__form-input" id="suite" type="number" formControlName="suite">
          </div>
        </div>

        <div class="auth__from-group">
          <div class="auth__form-item">
            <label class="auth__form-label" for="city">City *</label>
            <input class="{{city.invalid && (city.dirty || city.touched)?'alert-input':'auth__form-input'}}" id="city"
              type="text" formControlName="city" minlength="3" required>
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert">
              <div *ngIf="city.errors?.['required']">
                City is required
              </div>

              <div *ngIf="city.errors?.['minlength']">
                City must be at least 3 characters long
              </div>
            </div>

          </div>
          <div class="auth__form-item">
            <label class="auth__form-label" for="zipcodee">ZIP Code *</label>
            <input class="{{zipcode.invalid && (zipcode.dirty || zipcode.touched)?'alert-input':'auth__form-input'}}"
              id="zipcode" type="number" formControlName="zipcode" required>

            <div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)" class="alert">
              <div *ngIf="zipcode.errors?.['required']">
                ZIP Code is required
              </div>
            </div>
          </div>

        </div>

      </div>


      <button class="{{profileForm.valid?'auth__form-button':'btn-disabled'}}" type="submit"
        [disabled]="!profileForm.valid">
        <p>Create Account</p>
        <img src="../../assets/right-arrow 1.svg" alt="arrow right">
      </button>
    </form>
  </div>
</div>